.app-presentation {
  height: 100vh;
  background-color: #212121;
  z-index: -1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-presentation:before {
  content: "";
  position: absolute;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  height: 170%;
  width: 100%;
  transform: rotate(45deg);
  top: 30%;
  left: 30%;
  opacity: 0.1;
}

.app-works {
  background-color: #212121;
}

.app-footer {
  height: 10rem;
}